@page "/VentasR"

<div class="mb-2">
    <div class="card" style="width: 18rem;">
        <img src="data:image/[formato];base64,VentaRopa.Foto" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
            <h5 class="card-title">VentaRopa.Nombre</h5>
            <p class="card-text">VentaRopa.Descripcion</p>
            <p class="card-text">Precio:VentaRopa.Precio</p>
            <a href="#" class="btn btn-primary">Comprar ahora</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public VentaRopa VentaRopa { get; set; } = new VentaRopa();
}
