
<div class="mb-2">
    <div class="card" style="width: 18rem;">
        <img src="data:image/[formato];base64,@DatosVentR.Foto" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
            <h5 class="card-title">@DatosVentR.Nombre</h5>
            <p class="card-text">@DatosVentR.Descripcion</p>
            <p class="card-text">@DatosVentR.Precio</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Proyecto_de_Ventas.Data.VentaRopaCard DatosVentR { get; set; } = new Proyecto_de_Ventas.Data.VentaRopaCard();
}
