
    <div class="card">
        <img src="@DatosVentR.Foto"
   style="width: 300px; height: 200px;"
       alt="Producto"/>
        <div class="card-body">
            <h5 class="card-title">@DatosVentR.Nombre</h5>
            <p class="card-text">@DatosVentR.Descripcion</p>
            <p class="card-text">@DatosVentR.Precio</p>
        </div>
    </div>

@code {
    [Parameter]
    public Proyecto_de_Ventas.Data.VentaRopaCard DatosVentR { get; set; } = new Proyecto_de_Ventas.Data.VentaRopaCard();
}
